.form-container {
  padding: 30px;
  padding-top: 100px;
  background: white; }

#captchaDiv {
  width: 50%;
  margin: 0 auto; }

#errorMessages {
  color: red;
  display: none; }

.sign-up-only {
  display: none; }

#switchButton:hover {
  text-decoration: underline !important; }

/*# sourceMappingURL=index.css.map */
