#trendingListDiv .list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none; }

#speakFeedList {
  margin-bottom: 50px; }

.speak-post-date {
  font-size: 12px; }

.speak-username {
  font-weight: bold;
  margin-right: 30px; }

.user-stats {
  font-size: 14px; }

.offset-from-navbar {
  margin-top: 100px; }

.navbar-item {
  margin-top: 8px; }

.nav-item {
  font-size: 1.25em; }

nav .dropdown-item {
  padding-top: 15px;
  padding-bottom: 15px; }

/*# sourceMappingURL=me.css.map */
