<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spikker</title>

</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="elegant-bold">TWEETER</h1>
            </div>
        </div>
        <div class="row">
			<div class="col-md-6">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-default dropdown-toggle" type="button"
                            id="usernameBtn" >
                        {{ username }}
                        <span class="caret"></span>
                    </button>
                    <button id="historyLink" type="button"
                            class="btn btn-default">Search for all tweets</button>
                    <button type="button" class="btn btn-default" id="logOutLink">Log out</button>
                </div>
			</div>
            <div class="col-md-6">

                <input type="text" class="form-control" id="itemID" placeholder="Tweet ID">
                <button id="getItemButton" class="btn btn-default">Get tweet</button>

            </div>
        </div>

        <div class='row'>
			<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
				<div id='convoContainer'>
					<ul  class='list-group' id='convo'>
					</ul>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
				<div id='input-container'>
					<label>You:&nbsp</label><input type='text' name='human' id='humanInput'><br>
				</div>
			</div>
		</div>

        
    </div>




    <!-- jQuery -->
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/me.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/me.js"></script>

	<div id="sessionListModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Tweets</h4>
		  </div>
		  <div class="modal-body">
			<div id="sessionTableContainer">
				<table class="table left-align" id="sessionTable">
					<thead>
						<tr> <th>id #</th> <th>Username</th> <th>Content</th> <th>Date</th> </tr>
					</thead>
					<tbody>
					   
					</tbody>
				</table>
			</div>
			
		  </div>
		</div>

	  </div>
	</div>
	
	
</body>
</html>