<div class="modal fade" id="replyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Reply</h4>
            </div>
            <div class="modal-body">
                <ul class="collection" id="orig_tweet_list" >

                </ul>
                <div class="row">
                    <form id="replyForm" class="col-md-12" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="input-field col-md-12">
                                <textarea id="replyContent" class="materialize-textarea"></textarea>
                                <input hidden id="replyMediaID" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col-md-12">
                                <input type="file" id="mediaContent" name="content" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="postReplyBtn" data-dismiss="modal">
                    Post
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="originalSpeakModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" >Conversation</h4>
            </div>
            <div class="modal-body">
                <ul class="collection" id="orig_speak_conv" >

                </ul>
            </div>
        </div>
    </div>
</div>