<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spikker</title>


</head>
<body>


<!--Navbar-->
<nav class="navbar navbar-toggleable-md fixed-top white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand elegant-bold" id="homeIcon">
            Spikker
        </a>
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown btn-group">
                    <a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;Me
                    </a>
                    <div class="dropdown-menu dropdown" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" id="myProfileButton">Go to my profile</a>
                        <a class="dropdown-item" id="logOutButton">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container offset-from-navbar">
    <div class="row">
        <div class="col-md-4">

            <!--Image Card-->
            <div class="card hoverable">
                <div class="card-image">
                    <div class="view overlay hm-white-slight z-depth-1">
                        <img src="https://mdbootstrap.com/images/reg/reg%20(2).jpg" class="img-responsive" alt="">
                        <a href="#">
                            <div class="mask waves-effect"></div>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <h5 id="username">{{username}}</h5>
                </div>
                <!--Buttons-->
                <div class="card-footer text-center">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="getOwnSpeaks" class="user-stats">
                                <p>Speaks</p>
                                <a id="speaksCount" onclick="getOwnSpeaks()">{{speaks_count}}</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="getFollowingBtn" class="user-stats">
                                <p>Following</p>
                                <a id="followingCount" onclick="getFollowing()">{{following_count}}</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="getFollowersBtn" class="user-stats">
                                <p>Followers</p>
                                <a id="followersCount" onclick="getFollowers()">{{followers_count}}</a>
                            </div>
                        </div>

                    </div>
                    <br/>
					<div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary" id="followBtn">{{follow_button_text}}</a>
                        </div>

                    </div>
                </div>
                <!--/.Buttons-->
            </div>
            <!--/Image Card-->



        </div>
        <div class="col-md-8">

            <ul class="collection z-depth-1" id="speakFeedList">

            </ul>

        </div>
    </div>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css">
-->

<link rel="stylesheet" href="{{ url_for('static', filename='css/md.compiled.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/me.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/user.js') }}"></script>



<div class="modal fade" id="errorMsgModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="errorMsgModalTitle">Post a new Speak</h4>
            </div>
            <div class="modal-body" id="errorMsgModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Okay
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'replyModal.html' %}

</body>
</html>
