$offwhite: 	#e0dfdc;
$darkgrey:	#333;
$text-color: #222;
$background-color: #00aced;

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

@mixin smooth-transition($prop, $duration) {
	transition: $prop $duration ease-out;
    -moz-transition: $prop $duration ease-out;
    -webkit-transition: $prop $duration ease-out;
    -o-transition: $prop $duration ease-out;
}

@mixin transform-animation($trf) {
   -webkit-transform: $trf;
	  -moz-transform: $trf;
		-o-transform: $trf;
	   -ms-transform: $trf;
		   transform: $trf;
}

@mixin shake($duration){
	-webkit-animation-name: thumb;
	-webkit-animation-duration: $duration;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: 2;
	-webkit-animation-timing-function: linear;
}
