@import '_variables';


.reply-link{
    font-size: 14px;
    margin-left: 20px;
    color: #0e8ec7 !important;
}

.speak-img{
    max-width: 100%;
}

.speak-action-icon-wrapper{
    margin-right: 40px;

}
.speak-action-icon-wrapper i:hover{
    cursor: pointer;

}

.speak-img{
    display: block;
}

.card{
	margin-bottom: 30px;
}

.card-footer{
    padding-bottom :30px !important;
}

.modal-dialog {
    transform: translate(0,25%) !important;
}


.user-stats a{
    color: #0275d8 ! important;
}




.card-title {
    font-weight: bold;
}

.modal-backdrop{
    opacity:0.85 !important;
}

/* stuff missing from material design bootstrap */

#username{
    font-weight: bold;
}

textarea.materialize-textarea {

    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    transition: all .3s;

    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
    min-height: 3rem;

}

.collection {
    margin: 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;

}

.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.avatar {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
}

.collection .collection-item.avatar .title {
    font-size: 16px;
}

.collection .collection-item.avatar p {
    font-size: 14px;
    width: 90%;
}

.collection .collection-item.avatar .secondary-content {
    position: absolute;
    top: 16px;
    right: 16px;
}



.collection .collection-item.avatar .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    border-bottom: 1px solid #eee;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

body{
	color: $text-color;
	min-height: 100vh;
	@include gradient($background-color, #0e8ec7);
}

.navbar-brand{
    height: auto;
}

#spikkerIcon{
    display: inline;
}

.navbar{
    padding:0;
}
/*
#formMessages{
    color: red;
}



a{
    color: $text-color;
}

a:hover{
    color: $text-color;
    cursor: pointer;
}








.elegant-btn{
    padding: 5px 30px;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: .1em;
    background-image: none;
    background-color: lighten( $offwhite, 10% );
    border: 2px solid #262626;
    margin: 1px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.66);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.66);
}
.elegant-btn:focus {
    outline: none !important;
}

.elegant-btn:active{

    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}


.margin-top-1{
    margin-top: 20px;
}

.margin-bottom-1{
    margin-bottom: 20px;
}
*/


.elegant-bold {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .3em;
    color: $text-color !important;
    text-shadow: 0px 2px 3px #aaa;
    margin-bottom: 5px;
}